/* BUSCADOR */
.buscador-mascota{
    width: 100%;
}

.buscador-mascota .input-group-text{
    background: white;
    border-right: none;
    color: #5a9c38;
}

.buscador-mascota .form-control{
    border-left: none;
    box-shadow: none;
}

.buscador-mascota .form-control:focus{
    border-color: #5a9c38;
    box-shadow: 0 0 10px rgba(90,156,56,.2);
}

.btn-buscar-mascota{
    background: #5a9c38;
    color: white;
    border: none;
}

.btn-buscar-mascota:hover{
    background: #46792d;
    color: white;
}
.tarjeta-mascota-buscada{
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    transition: .3s;
}

.tarjeta-mascota-buscada:hover{
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,.12);
}

.avatar-busqueda{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(135deg,#5a9c38,#88c866);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
}

.mascota-nombre{
    color: #336600;
    font-weight: 700;
}

.datos-mascota p{
    margin-bottom: 8px;
    color: #555;
}

.datos-mascota i{
    color: #5a9c38;
    width: 20px;
}

.btn-ver-mascota{
    background: #336600;
    color: white;
    border-radius: 30px;
    padding: 8px 18px;
    margin-top: 10px;
}

.btn-ver-mascota:hover{
    background: #254d00;
    color: white;
}